{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col-md-6 offset-md-1">
    <div class="card">
        <div class="row">
        <div class="col-md-4">

            {% if profile.avatar %}
            <img  class="profpic" src="{{profile.profilepic.url}}" height='400' width="50" alt="No Image">
            {% else %}
            <div >
                <img  class="profpic" src="https://www.w3schools.com/howto/img_avatar.png" width="300" alt="card image cap">
            </div>

            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="row">
                <h1>Name: {{profile.user.username}}</h1>
                <h1>Email: {{profile.user.email}}</h1>
                <a href="/update" class="btn btn-danger" >Edit Profile</a>
            </div>
        </div>
        </div>
        <div class="offset-md-3">
            <div class="row">
                <p>{{profile.user.profile.bio}}</p>
            </div>
        </div>

    </div>
</div>
    <div class="col-md-4 offset-md-0.5">
        <div class="card border-primary mb-3">
            <div class="card-header">Friends</div>
            <div class="card-body text-primary">
                <a href="#" class="card-text">Friend 1</a>
            </div>
        </div>
    </div>
</div>
<h1 class="offset-md-5">Posts</h1>
<div class="row">
    <div class="col-md-5 offset-md-2">
            <div class="jumbotron">

        {% if posts %}
        {% for post in posts %}

        <div class="card">
            <div class="card-header">{{post.title}}"</div>
            <div class="card-body">
                {% if post.chatroom %}
                <h1 class="card-title">{{post.chatroom.name}}</h1>
                {% else %}
                <h1 class="card-title">{{post.gym.name}}</h1>
                {% endif %}
                <a class="btn btn-danger" href="/updatebiz/{{business.id}}">Update</a>
            </div>
        </div>
        {% endfor %}

        {% else %}

        <p>You have not posted Yet</p>
    </div>
    {% endif %}
</div>
    <div class="col-md-3 offset-md-1">
        <div class="card border-success mb-3">
            <div class="card-header">My Chatrooms</div>
            <div class="card-body text-success">
                <a href="#" class="card-text">Chatroom A</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
